# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Variables / local overrides
*.auto.tfvars
terraform.tfvars
terraform.tfvars.json

# OS / editor
.DS_Store
.vscode/
.idea/
